git+https://github.com/mapillary/inplace_abn.git@938ffd2ac1da3972a8015ca054344f48457dd936
numpy
opencv-contrib-python
Pillow
scikit-image
scipy
Shapely
# torch==1.1.0
torchvision
umsgpack
future
tensorboard
